/J2EE/Precticles/DataBaseConnectivityDemo/nbproject/private/
/J2EE/Precticles/DataBaseConnectivityDemo/build/
/J2EE/Precticles/PreparedStatmentDemo/nbproject/private/
/J2EE/Precticles/PreparedStatmentDemo/build/
/J2EE/Precticles/InsertUpdateDeleteDemo/nbproject/private/
/J2EE/Precticles/InsertUpdateDeleteDemo/build/
/J2EE/Precticles/OracleConDemo/nbproject/private/
/J2EE/Precticles/OracleConDemo/build/
/J2EE/Precticles/ServeleTask1/nbproject/private/
/J2EE/Precticles/ServeleTask1/build/
/J2EE/Precticles/WebApplication1/nbproject/private/
/J2EE/Precticles/WebApplication1/build/
/J2EE/Precticles/ServerTask/build/
/J2EE/Precticles/ServerTask/nbproject/private/
/J2EE/Precticles/ServletTask/build/
/J2EE/Precticles/ServletTask/nbproject/private/
/J2EE/Precticles/ServletTask/dist/
/J2EE/Precticles/JSPTask/nbproject/private/
/J2EE/Precticles/JSPTask/build/
/J2EE/Precticles/JSPTask/dist/
/J2EE/Precticles/ResultwithJSP/nbproject/private/
/J2EE/Precticles/ResultwithJSP/build/
/J2EE/Precticles/JSPexdemo/nbproject/private/
/J2EE/Precticles/JSPexdemo/build/
/J2EE/Precticles/ResultWithJSP/nbproject/private/
/J2EE/Precticles/ResultWithJSP/build/