/J2EE/Precticles/DataBaseConnectivityDemo/nbproject/private/
/J2EE/Precticles/DataBaseConnectivityDemo/build/
/J2EE/Precticles/PreparedStatmentDemo/nbproject/private/
/J2EE/Precticles/PreparedStatmentDemo/build/